<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="INTUITIVE">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Coordinator</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
    <link rel="stylesheet" href="Coordinator.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.6.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">



    <script type="application/ld+json">{
		
		"name": "",
		"logo": "images/ankaya_niversitesi_logo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Coordinator">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-xl-mode">
    <header class="u-clearfix u-custom-color-1 u-header u-header" id="sec-56ea">
        <div class="u-clearfix u-sheet u-sheet-1">
            <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="173" data-image-height="173">
                <img src="images/ankaya_niversitesi_logo.png" class="u-logo-image u-logo-image-1">
            </a>
            <h1 class="u-text u-text-default u-text-1">Student Transfer Management System</h1>
            <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
                <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                    <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
                        <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
                        <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <rect y="1" width="16" height="2"></rect>
                                <rect y="7" width="16" height="2"></rect>
                                <rect y="13" width="16" height="2"></rect>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-nav u-unstyled u-nav-1">
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Coordinator.html" style="padding: 10px 12px;">Coordinator</a>
                        </li>
                    </ul>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-inner-container-layout u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="Coordinator.html" style="padding: 10px 12px;">Coordinator</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>
    <section class="u-clearfix u-section-1" id="sec-07ab">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-23 u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <div alt="" class="u-image u-image-circle u-image-1" src="" data-image-width="256" data-image-height="256"></div>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <h2 class="u-text u-text-default u-text-1">Ali Yılmaz</h2>
                                <p class="u-text u-text-2">
                                    <span style="font-weight: 700;">Telephone Number:</span> 0530 111 33 22<br>
                                    <span style="font-weight: 700;">TC no:</span> 12345678901<br>
                                    <span style="font-weight: 700;">e-mail:</span> student@cankaya.mail
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="" class="u-border-none u-btn u-button-style u-custom-color-1 u-btn-1">STUDENT LIST</a>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-white u-section-2" id="sec-ee21">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-gutter-20 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-grey-15 u-layout-cell u-size-60 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <h4 class="u-text u-text-1">Choose Curriculum</h4>
                                <div class="u-form u-form-1">
                                    <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
                                        <div class="u-form-group u-form-select u-form-group-1">
                                            <label for="select-1b3e" class="u-label">Select</label>
                                            <div class="u-form-select-wrapper">
                                                <select id="select-1b3e" name="Select Curriculum" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                                                    <option value="CENG">CENG</option>
                                                    <option value="MECE">MECE</option>
                                                    <option value="EEE">EEE</option>
                                                    <option value="IE">IE</option>
                                                    <option value="ME">ME</option>
                                                </select>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
                                            </div>
                                        </div>
                                        <div class="u-align-left u-form-group u-form-submit">
                                            <a href="#" class="u-btn u-btn-submit u-button-style">Search</a>
                                            <input type="submit" value="submit" class="u-form-control-hidden">
                                        </div>
                                        <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                                        <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                                        <input type="hidden" value="" name="recaptchaResponse">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-clearfix u-gutter-20 u-layout-wrap u-layout-wrap-2">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-grey-15 u-layout-cell u-size-60 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <h3 class="u-text u-text-2">
                                    Transcrip<span style="font-weight: 700;"></span>t
                                </h3>
                                <img class="u-image u-image-default u-image-1" src="images/indir.jpg" alt="" data-image-width="189" data-image-height="267">
                                <a href="#sec-a197" class="u-border-2 u-border-black u-btn u-button-style u-dialog-link u-hover-black u-none u-text-custom-color-1 u-text-hover-white u-btn-2">Vıew</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-clearfix u-gutter-20 u-layout-wrap u-layout-wrap-3">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center u-container-style u-grey-15 u-layout-cell u-size-60 u-layout-cell-3">
                            <div class="u-container-layout u-container-layout-3">
                                <h3 class="u-text u-text-3">COER FORM</h3>
                                <img class="u-image u-image-default u-preserve-proportions u-image-2" src="images/indir1.jpg" alt="" data-image-width="197" data-image-height="255">
                                <a href="#sec-5ff2" class="u-border-2 u-border-black u-btn u-button-style u-dialog-link u-hover-black u-none u-text-custom-color-1 u-text-hover-white u-btn-3">VIEW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-clearfix u-gutter-20 u-layout-wrap u-layout-wrap-4">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-grey-15 u-layout-cell u-size-60 u-layout-cell-4">
                            <div class="u-container-layout u-container-layout-4">
                                <h4 class="u-text u-text-4">Fill in Course List:</h4>
                                <div class="u-expanded-width u-table u-table-responsive u-table-1">
                                    <table class="u-table-entity">
                                        <colgroup>
                                            <col width="33.3%">
                                            <col width="45.2%">
                                            <col width="21.5%">
                                        </colgroup>
                                        <tbody class="u-table-body">
                                            <tr style="height: 36px;">
                                                <td class="u-border-1 u-border-grey-dark-1 u-palette-3-light-2 u-table-cell u-table-cell-1">Department</td>
                                                <td class="u-border-1 u-border-grey-dark-1 u-palette-3-light-2 u-table-cell u-table-cell-2">Course Code</td>
                                                <td class="u-border-1 u-border-grey-dark-1 u-palette-3-light-2 u-table-cell u-table-cell-3">Credit</td>
                                            </tr>
                                            <tr style="height: 46px;">
                                                <td class="u-border-1 u-border-grey-dark-1 u-grey-5 u-table-cell u-table-cell-4">CENG</td>
                                                <td class="u-border-1 u-border-grey-dark-1 u-grey-5 u-table-cell u-table-cell-5">111</td>
                                                <td class="u-border-1 u-border-grey-dark-1 u-grey-5 u-table-cell u-table-cell-6">4</td>
                                            </tr>
                                            <tr style="height: 46px;">
                                                <td class="u-border-1 u-border-grey-dark-1 u-grey-5 u-table-cell u-table-cell-7">Math</td>
                                                <td class="u-border-1 u-border-grey-dark-1 u-grey-5 u-table-cell u-table-cell-8">135</td>
                                                <td class="u-border-1 u-border-grey-dark-1 u-grey-5 u-table-cell u-table-cell-9">3</td>
                                            </tr>
                                            <tr style="height: 46px;">
                                                <td class="u-border-1 u-border-grey-dark-1 u-grey-5 u-table-cell u-table-cell-10">CENG</td>
                                                <td class="u-border-1 u-border-grey-dark-1 u-grey-5 u-table-cell u-table-cell-11">114</td>
                                                <td class="u-border-1 u-border-grey-dark-1 u-grey-5 u-table-cell u-table-cell-12">3</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-3" id="sec-dbfb">
        <div class="u-align-left u-clearfix u-sheet u-sheet-1">
            <a href="https://nicepage.com/c/food-restaurant-html-templates" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-1-light-1 u-radius-6 u-btn-1">SAVE</a>
        </div>
    </section>







    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-e172">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
        </div>
    </footer>
    <section class="u-backlink u-clearfix u-grey-80">
        <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
            <span>Website Templates</span>
        </a>
        <p class="u-text">
            <span>created with</span>
        </p>
        <a class="u-link" href="" target="_blank">
            <span>Website Builder Software</span>
        </a>.
    </section>
    <section class="u-align-center u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-valign-middle u-dialog-section-8" id="sec-a197">
        <div class="u-align-left u-container-style u-dialog u-white u-dialog-1">
            <div class="u-container-layout u-valign-bottom u-container-layout-1">
                <img class="u-image u-image-default u-image-1" src="images/indir-7.jpg" alt="" data-image-width="189" data-image-height="267">
            </div><button class="u-dialog-close-button u-icon u-text-grey-50 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 413.348 413.348" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5801"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 413.348 413.348" id="svg-5801"><path d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z"></path></svg></button>
        </div>
    </section>
    <style> .u-dialog-section-8 {
  min-height: 826px;
}

.u-dialog-section-8 .u-dialog-1 {
  width: 566px;
  min-height: 431px;
  margin: 60px auto;
}

.u-dialog-section-8 .u-container-layout-1 {
  padding: 40px 30px;
}

.u-dialog-section-8 .u-image-1 {
  width: 273px;
  height: 351px;
  margin: 0 auto;
}

.u-dialog-section-8 .u-icon-1 {
  width: 15px;
  height: 15px;
  left: auto;
  top: 17px;
  position: absolute;
  right: 16px;
}





  .u-dialog-section-8 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
}



  .u-dialog-section-8 .u-container-layout-1 {
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }
}</style><section class="u-align-center u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-valign-middle u-dialog-section-10" id="sec-5ff2">
        <div class="u-align-left u-container-style u-dialog u-grey-15 u-dialog-1">
            <div class="u-container-layout u-valign-top u-container-layout-1">
                <img class="u-image u-image-default u-preserve-proportions u-image-1" src="images/indir1-8.jpg" alt="" data-image-width="197" data-image-height="255">
            </div><button class="u-dialog-close-button u-icon u-text-grey-50 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 413.348 413.348" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5801"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 413.348 413.348" id="svg-5801"><path d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z"></path></svg></button>
        </div>
    </section>
    <style> .u-dialog-section-10 {
  min-height: 826px;
}

.u-dialog-section-10 .u-dialog-1 {
  width: 566px;
  min-height: 431px;
  margin: 60px auto;
}

.u-dialog-section-10 .u-container-layout-1 {
  padding: 34px 30px;
}

.u-dialog-section-10 .u-image-1 {
  width: 276px;
  height: 357px;
  margin: 0 auto;
}

.u-dialog-section-10 .u-icon-1 {
  width: 15px;
  height: 15px;
  left: auto;
  top: 17px;
  position: absolute;
  right: 16px;
}





  .u-dialog-section-10 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
}


  .u-dialog-section-10 .u-container-layout-1 {
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }
}</style>
</body>
</html>